body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-area {
  width: 640px;
  height: 640px;
  border: 1px solid black;
  margin: 10px;
}

.palette {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.save-load {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}