body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-area {
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.palette {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.save-load {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}